.todoList {
    max-width: 300px;
    margin: 10px;
}

.title {
    width: 200px;
    word-break: break-word;
}

.list {
    width: 100%;
    max-width: 360px;
}

.error {
    border: red 1px solid;
}

.errorMessage {
    color: red;
}

.activeFilter {
    background-color: aquamarine;
}

.isDone {
    opacity: 0.5;
}